@use "sass:math";

.Chat_page {
    width: 100%;
    @extend %flex-row-centered;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
}

.Chat_container {
    @extend %flex-column;
    width: 60%;
    height: 100%;
    border: 1px solid $light-gray1;
    box-shadow: 0 1px 2px 0 rgb(0, 0, math.div(0, 0.05));
    min-width: 360px;

    @media only screen and (min-width:350px){
        width: 100%;
    }

    @media only screen and (min-width:600px){
        width: 80%;
    }

    @media only screen and (min-width:800px){
        width: 50%;
    }
}

.Chat_list-container{
    @extend %flex-column;
    overflow: auto;
}

.Chat_list-item {
   @extend %flex-row-centered;
   width: 100%;

   &:hover{
    background-color: $light-gray3;
   }
}

.Chat_separator {
    border-bottom: 1px solid $light-gray1;
    @extend %flex-row;
}

.Chat_message-info {
    @extend %flex-column;
}

.Chat_searcher{
    @extend %flex-row-centered;
}

.Chat_user-banner {
    @extend %flex-row;
    align-items: center;
    background-color: $light-gray3;
    height: 8%;
    width: 100%;
    border-bottom: 1px solid $light-gray1;
}

.Chat_time{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.Chat_messages-container {
    background-color: $light-gray3;
    height: 84%;
    padding: 20px;
    border-bottom: 1px solid $light-gray1;
    overflow: auto;
}

.Chat_message {
    @extend %flex-row;
    margin-bottom: 10px;
}

.message-r {
    flex-direction: row-reverse;
}

.Chat_bubble{
    @extend %flex-column;
    background-color: $white;
    border-radius: 10px 10px 10px 0px;
    max-width: 250px;
    padding: 10px;
}

.bubble-r {
    border-radius: 10px 10px 0px 10px;
    background-color: #D9FDD3;
}

.Chat_message-info{
  @extend %flex-column;
}

.Chat_write-box{
    @extend %flex-row-between;
    height: 8%;
    background-color: $light-gray3;
 
    textarea {
        border: none;
        border-radius: 10px;
        resize: none;
        width: 89%;
        outline: none;
        font-family: $inter, sans-serif;
    }
}

.Chat_date {
    @extend %flex-column-centered;
}

.Chat_unread {
    border-radius: 999px;
    background-color: #25D366;
    margin-top: 15px;
}

.Chat_context-menu {
    background-color: $white;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0, 0, math.div(0, 0.05));
}