.Form_container {
    width: 100%;
    @extend %flex-row-centered;
}

.Form_box {
    @extend %flex-column-centered;
    margin-top: 50px;
    width: 35%;
    background-color: $white;
    border-radius: 15px;
}

.Form_input {
    border-radius: 10px;
    width: 90%;
    margin-top: 10px;
    border: none;
    background-color: $light-gray1;
    outline-color: $blue;

    &:focus{
        box-shadow: 0 1px 2px 0 rgb(0, 0, 0 / 0.05);
    }
}

.Form_inp-error {
    border: 1px solid $red-error;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0 / 0.05);
}

.Form_text-error {
    color:$red-error;
}