@use "sass:math";

.Nav_container {
    @extend %flex-column;
    width: 100%;
    background-color: $light-gray3;
}

.Nav_items {
    @extend %flex-row-between;
}

.chat-state {
    @extend %flex-row-centered;
}

.Nav_item {
    @extend %flex-row;
    align-items: center;
}

// Handling popup account menu
.Nav_toggle {
    position: absolute;
    background-color: $white;
    top: 44px;
    right: 150px;
    width: 150px;
    box-shadow: 0 1px 2px 0 rgb(0, 0, math.div(0, 0.05));
}

.Nav_hover-item {
    &:hover {
        background-color: $gray;
    }
}