// APP PALETTE COLORS
$white       : #fff;
$black       : #000;
$primary     : #05668d;
$secondary   : #028090;
$blue        : #0A95FF;
$light-gray1 : #f4f3ee;
$light-gray2 : #f5f0f6;
$red-error   : #E15452;

// Dark mode App
$raisin-black: #181d27;