// APP PALETTE COLORS
$white       : #fff;
$black       : #000;
$dark        : #54656F;
$primary     : #05668d;
$secondary   : #028090;
$blue        : #0A95FF;
$gray        : #D9DBDF;
$light-gray1 : #E6E8E6;
$light-gray2 : #f5f0f6;
$light-gray3 : #F0F2F5;
$red-error   : #E15452;

// Dark mode App
$raisin-black: #181d27;

// FONT STYLES
$inter : "Inter", sans-serif;
$outfit: "Outfit", sans-serif;